<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration>
<configuration scan="true" scanPeriod="10 seconds">
    <!-- 日志存放路径 -->
    <property name="log.path" value="logs/ShiKe"/>
    <!-- 日志输出格式 -->
    <property name="log.pattern" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - [%method,%line] - %msg%n"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>
    <!-- 日志记录到文件 -->
    <appender name="FILE_DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/debug.log</file>
        <!-- 循环政策：基于时间创建日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 日志文件名格式 -->
            <fileNamePattern>${log.path}/debug.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- 日志最大的历史 30天 -->
            <maxHistory>30</maxHistory>
            <!-- 日志总保存量为1GB -->
            <totalSizeCap>1GB</totalSizeCap>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!--文件达到 最大128MB时会被压缩和切割 -->
                <maxFileSize>64MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
        <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
        <!--&lt;!&ndash; 过滤的级别 &ndash;&gt;-->
        <!--<level>DEBUG</level>-->
        <!--&lt;!&ndash; 匹配时的操作：接收（记录） &ndash;&gt;-->
        <!--<onMatch>ACCEPT</onMatch>-->
        <!--&lt;!&ndash; 不匹配时的操作：拒绝（不记录） &ndash;&gt;-->
        <!--<onMismatch>DENY</onMismatch>-->
        <!--</filter>-->
    </appender>
    <logger name="com.hd.daq" level="DEBUG"></logger>
    <logger name="org.springframework.context" level="DEBUG"></logger>
    <root level="error">
        <appender-ref ref="FILE_DEBUG" />
    </root>
</configuration>